@import 'message';

body {
  font-family: Helvetica;
}
.app {
  display: flex;
  height: 100vh;
}

.channel-list {
  width: 20%;
  background-color: #F4F4F4;
  padding: 24px;
  list-style-type: none;
}
.channel {
  margin: 12px 0;
  font-size: 24px;
  &:hover {
    cursor: pointer;
  }
}
.selected {
  font-weight: bold;
}
.messages-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.messages-list {
  padding: 24px;
  max-height: calc(100vh - 83px);
  overflow: scroll;
}
.message-form {
  padding: 24px;
  display: flex;
  justify-content: center;
}
.message-form > button {
  max-width: 25%;
  margin-left: 6px;
}
.channel-title {
  padding: 0 24px;
}
