@import 'message';

body {
  font-family: Helvetica;
}
.app {
  display: flex;
  height: 100vh;
}

.channel-list {
  width: 20%;
  border-right: solid 1px black;
}
.message-list {
  width: 80%;
  padding: 24px;
}
